*, *::before, *::after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }

 html {
   height: 100%;
   font-size: 100%;
 }

 body {
   font-family: "Fjord One"; serif;
   background-color: #FFFFFF;
 }
 a:link {
  color: #042A2B;
 }

 a:hover {
  color: #5EB1BF;
 }


 .nav-bar {
   position: absolute;
   right: 3rem;
   background-color: #5EB1BF;
 }

 .hero-content {
   position: top;
   left: 0;
   top: 2rem;
   height: 9rem;
   width: 100%;
   background-color: grey;
 }

 .hero-title {
   padding: 0 0 0 1rem;
 }

 .new-task {
   position: absolute;;
   top: 5rem;
   width: 100%;
   background-color: #5EB1BF;
 }

 .new-task-header {
   padding: 1rem 0 0 1.5rem;
 }

 .new-task-field {
   padding: 0 0 2rem 2.5rem;
 }

 .new-task-field input {
   margin: 0 2rem 0 0;
   width: 30%;
 }

 .task-field {
  margin: 0 1rem 0.25rem 0;
   padding: 0.25rem;
   width: 30%;
   border: none;
   border-radius: 3px;
 }

.priority {
  margin: 0 1rem 0 0;
  height: 1.75rem;
 }

 .submit {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
  color: #042A2B;
  padding: 0rem 1rem;
  text-align: center;
  display: inline-block;
}

 .task-content {
   position: absolute;;
   left: 0;
   top: 25rem;
   height: 100%;
   width: 100%;
 }

 .task-list {
   top: 5rem;
   padding: 0 2.5rem 0 2.5rem;
 }

 .task-title {
   position: relative;
   left: 0.5rem;
 }

 .task-checkbox {
  position: relative;
  top: auto;
}

 .archive-title {
   position: relative;
   left: 0.5rem;
   text-decoration: line-through;
 }

 .history-title {
   position: relative;
   left: 0.5rem;
   text-decoration: line-through;
 }

 table {
   position: relative;
   top: 80px;
   width: 400px;
   margin: auto;
 }
 table th , td  {
   font-family: sans-serif;
   padding: 15px;
   border-style: none;
 }
 table th {
   background-color: #c5c5c5;
   text-align: left;
 }
 table tr {
   background-color: #f2f1f1;
 }
 nav {
     clear;
     font-family: sans-serif;
     max-width: 160px;
     margin: 0;
     padding: 1em;
 }


 /*@media (min-width: 640px) {
     html { font-size: 120%; }
     .hero-content {
       height: 4rem;
     }
 }*/
