<section class="hero-content">
  <h1 class="hero-title">History</h1>
</section>

<section class="new-task">
  <div class="new-task-header">
    Task Name | Description | Priority
  </div>
  <div class="new-task-field">
    <input type="text" class="task-field" ng-model="task.title" name="title" value="You have a ton to do!">
    <input type="text" class="task-field" ng-model="task.description" value="A description.">
    <select class="priority" ng-model="taskPriority">
      <option value="High">high</option>
      <option value="Medium">medium</option>
      <option value="Low">low</option>
    </select>
    <button class="submit" ng-click="history.addTask(messageTitle, messageDescription, taskPriority); clearfunction(this)">Add Task</button>
  </div>
</section>
<section class="task-content">
  <div class="task-list" ng-repeat="task in history.tasks | orderBy:'priority'">
    <div ng-hide="history.show(task)">
      <div>
        <input class="task-checkbox" type="checkbox" ng-click="history.taskStatus(task)">
        <h3 class ="history-title">{{ task.title }}</h3>
      </div>
      <p class="task-priority">Priority: {{ task.priority }} | Created: {{ task.created }}</p>
      <p class="task-description">Description: {{ task.description }}</p>
      <hr class="task-rule">
    </div>
  </div>
</section>
