
<section class="hero-content">
  <h1 class="hero-title">Tasks</h1>
</section>

<section class="new-task">
  <div class="new-task-header">
    Task Name | Description | Priority
  </div>
  <div class="new-task-field">
    <input type="text" class="task-field" ng-model="messageTitle" name="title" placeholder="You have a ton to do!">
    <input type="text" class="task-field" ng-model="messageDescription" placeholder="A description.">
    <!-- <input type="submit" class="submit" value="Add Task"> -->
    <select class="priority" ng-model="taskPriority">
      <option value="3">high</option>
      <option value="2">medium</option>
      <option value="1">low</option>
    </select>
    <button class="submit" ng-click="home.addTask(messageTitle, messageDescription, taskPriority); clearfunction(this)">Add Task</button>
  </div>
</section>

<section class="task-content">
  <div class="task-list" ng-repeat="task in home.tasks | orderBy:priority:reverse" >
    <div ng-hide="home.hide(task)">
      <div>
        <input class="task-checkbox" type="checkbox" ng-click="home.taskStatus(task)">
        <p ngClass="{active: isActive('/tasks')}">
        <h3 class ="task-title">{{ task.title }}</h3>
      </div>
      <p class="task-priority">Priority: {{ task.priority }} |  Created: {{ task.created }}</p>
      <p class="task-description">Description: {{ task.description }}</p>
      <hr class="task-rule">
      <hr class= ng-show="{{task.completed}}">
    </div>
  </div>
</section>
 <!-- $scope.add()  -->
